#word-red {
  /*id属性のセレクタを作成する時は「#」を付ける*/
  /*id属性は同じページ内で1回しか使えない*/
  color: red;
}

.red-word {
  /*class属性のセレクタを作成する時は「.」を付ける*/
  /*class属性は同じページ内で複数回使用可能。同じ装飾をしたい要素が複数あるときに使う*/
  color: red;
}

.orange-word {
    color: orange;
}